{{ define "user/about.html" }}
{{template "public/header" .}}
<!-- <div class="container" id="about"> -->
    <div class="card">
        <div class="card-header"><h5 class="font-weight-bold">About us</h5></div>
        <div class="card-body">
          <h5 class="card-title">This study was performed by <strong>Bo Liu</strong>, <strong>BiJin Cao</strong>, <strong>Zekun Liu</strong>, <strong>Yongqiang Zheng</strong>, <strong>Siyu Wang</strong>, <strong>Qi Zhao</strong>, <strong>Xiaoxing Li</strong>, <strong>Rui-Hua Xu</strong> and <strong>Ze-Xian Liu</strong></h5>
          <br>
          <p class="card-text text-primary"><strong>Ye Wang</strong>, <strong>Kai Yu</strong>, <strong>Zekun Liu</strong>, <strong>Qingfeng Zhang</strong>, <strong>Yongqiang Zheng</strong>, <strong>Siyu Wang</strong>, <strong>Qi Zhao</strong>, <strong>Rui-Hua Xu</strong> and <strong>Ze-Xian Liu</strong> are from</p>
          <p class="card-text">Sun Yat-sen University Cancer Center,</p>
          <p class="card-text">Building 2#20F, 651 Dongfeng East Road,</p>
          <p class="card-text">Guangzhou 510060, P. R. China</p>
          <br>
          <p class="card-text text-primary"><strong>Xiaoxing Li</strong> is from</p>
          <p class="card-text">First Affiliated Hospital, Sun Yat-sen University,</p>
          <p class="card-text">58 Zhongshan 2nd Road,</p>
          <p class="card-text">Guangzhou 510080, P. R. China</p>
          <br>
    <p class="card-text text-primary"><strong>Contact: </strong> Ze-Xian Liu</p>
          <p class="card-text text-primary"><strong>Email:</strong> liuzx AT sysucc.org.cn</p>
          <p class="card-text text-primary"><strong>Tel/Fax:</strong> +86-20-87342025</p>
        </div>
    </div>
  
<!-- </div> -->
{{template "public/footer" .}}
{{ end }}