{{define "public/footer"}}
</div>
</section><!-- End Main -->

<!-- ======= Footer ======= -->
<footer id="footer">

<div class="footer-top">
  <div class="container">
    <div class="row">

      <div class="col-lg-3 col-md-6 footer-links">
        <h4>Useful Links</h4>
        <ul>
          <li><i class="bx bx-chevron-right"></i> <a href="./">Home</a></li>
          <!-- <li><i class="bx bx-chevron-right"></i> <a href="browse">Browse</a></li> -->
          <li><i class="bx bx-chevron-right"></i> <a href="search">Search</a></li>
          <!-- <li><i class="bx bx-chevron-right"></i> <a href="qkinact">qKinAct</a></li> -->
          <li><i class="bx bx-chevron-right"></i> <a href="download">Download</a></li>
          <li><i class="bx bx-chevron-right"></i> <a href="help">Help</a></li>
          <li><i class="bx bx-chevron-right"></i> <a href="about">About</a></li>
          <li><i class="bx bx-chevron-right"></i> <a href="citation">Citation</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 footer-links">
        <h4>Our Databases</h4>
        <ul>
          <li><i class="bx bx-chevron-right"></i> <a href="http://dbebv.omicsbio.info" data-toggle="tooltip" data-placement="right" title="a database of Epstein-Barr virus variants and their correlations with human health">dbEBV</a></li>
          <li><i class="bx bx-chevron-right"></i> <a href="http://dbricepro.omicsbio.info" data-toggle="tooltip" data-placement="right" title="a database of protein phosphorylation dynamics in rice">dbRicePro</a></li>
          <!--li><i class="bx bx-chevron-right"></i> <a href="http://ekpi.omicsbio.info" data-toggle="tooltip" data-placement="right" title="a database of kinase phosphosite interaction evidence">eKPI</a></li-->
          <li><i class="bx bx-chevron-right"></i> <a href="http://gutmega.omicsbio.info" data-toggle="tooltip" data-placement="right" title="a database of the human gut metagenome atlas">gutMEGA</a></li>
          <li><i class="bx bx-chevron-right"></i> <a href="http://ihypoxia.omicsbio.info" data-toggle="tooltip" data-placement="right" title="an integrative database for hypoxia associated proteins in mammals">iHypoxia</a></li>
          <li><i class="bx bx-chevron-right"></i> <a href="http://icysmod.omicsbio.info" data-toggle="tooltip" data-placement="right" title="an integrative database for protein cysteine modifications in eukaryotes">iCysMod</a></li>
          <!--li><i class="bx bx-chevron-right"></i> <a href="#">MDGC</a></li-->
          <li><i class="bx bx-chevron-right"></i> <a href="http://qphos.omicsbio.info" data-toggle="tooltip" data-placement="right" title=" a database of protein phosphorylation dynamics in humans">qPhos</a></li>
          <li><i class="bx bx-chevron-right"></i> <a href="http://qptm.omicsbio.info" data-toggle="tooltip" data-placement="right" title="the updated database of protein PTM dynamics in human">qPTM</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 footer-links">
        <h4>Our Tools</h4>
        <ul>
          <li><i class="bx bx-chevron-right"></i> <a href="http://cbacphos.omicsbio.info" data-toggle="tooltip" data-placement="right" title="a webserver to predict phosphorylation sites in bacteria">cPhosBac</a></li>
          <li><i class="bx bx-chevron-right"></i> <a href="http://deepcalpain.omicsbio.info" data-toggle="tooltip" data-placement="right" title="a webserver to predict calpain-specific cleavage sites">DeepCalpain</a></li>
          <li><i class="bx bx-chevron-right"></i> <a href="http://deepgsh.omicsbio.info" data-toggle="tooltip" data-placement="right" title="a webserver to predict species-specific protein S-glutathionylation sites">DeepGSH</a></li>
          <li><i class="bx bx-chevron-right"></i> <a href="http://deeppla.omicsbio.info" data-toggle="tooltip" data-placement="right" title="a webserver to predict HAT/HDAC-specific lysine acetylation">Deep-PLA</a></li>
          <li><i class="bx bx-chevron-right"></i> <a href="http://drugcvar.omicsbio.info" data-toggle="tooltip" data-placement="right" title="a webserver to annotate drug targeted variations">DrugCVar</a></li>
          <li><i class="bx bx-chevron-right"></i> <a href="http://dscope.omicsbio.info" data-toggle="tooltip" data-placement="right" title="a software to detect sequence critical for liquid-liquid phase separation">dSCOPE</a></li>
          <li><i class="bx bx-chevron-right"></i> <a href="http://pcysmod.omicsbio.info" data-toggle="tooltip" data-placement="right" title="a webserver to predict multiple cysteine modifications">pCysMod</a></li>
          <li><i class="bx bx-chevron-right"></i> <a href="http://prkc.omicsbio.info" data-toggle="tooltip" data-placement="right" title="a webserver to predict prkC-specific phosphorylation sites">prkC-PSP</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 footer-info">
        <h3>About eKPI</h3>
        <p>About eKPI is a database that integrets 7 predicted kinase-substrate site interactions predicted by different models, quantitative phosphorylated proteome data from qPTM, and cancer-related clinical multiomics data collated in 13 papers in Homo sapiens.  
          The database has its own file for each substrate and contains the above information.</div>

    </div>
  </div>
</div>

<div class="container">
  <div class="copyright">
    Copyright &copy; All rights reserved. &nbsp;<a href="http://www.omicsbio.info" target="_blank">Zexian Liu@SYSUCC</a>
  </div>
  <div class="credits"></div>
</div>
</footer><!-- End Footer -->
<a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="/static/vendor/php-email-form/validate.js"></script>
<script src="/static/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="/static/vendor/venobox/venobox.min.js"></script>
<script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/static/vendor/aos/aos.js"></script>

<!-- Template Main JS File -->
<script src="/static/js/lib/main.js"></script>
<script src="/static/js/lib/mine.js"></script>
<!-- <script src="/static/js/lib/echarts.min.js"></script> -->
<!-- <script src="/static/js/lib/browse.js"></script> -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-8965209-22"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-8965209-22');
</script>
</body>

</html>

{{end}}